.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #eee;
}

.header .logo img {
    height: 40px;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.header ul li {
    cursor: pointer;
}
.login-button{
    padding: 5px 10px;
    background-color: #0eb67e;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.search-container{
    display: flex;
    gap: 10px;
    align-items: center;
}
.search-bar{
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.restaurant-card {
    width:200px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
.restaurant-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #eee;
    cursor: pointer;
}
.restaurant-card:hover > button {
    background-color: #0feb67;
    border-color: #a88734 #9c7e31 #846a29;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}
.restaurant-card img {
    width: 100%;
    border-radius: 5px;
}
.search-and-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}
.filter{
    display: flex;
    align-items: center;
    gap: 5px;
}
.shimmer-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.shimmer-card {
    width: 200px;
    height: 300px;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
.item-card {
    border: 1px solid #eee;
    border-radius: 5px;
    overflow: hidden;
    transition: box-shadow 0.3s;
    margin-bottom: 10px;
    padding: 10px;
}
.item-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.item-image{
    width: 100px;
    height: auto;
}